# sudo ln -s $(pwd)/ttdash.service /lib/systemd/system/ttdash.service
[Unit]
Description=TrainTrack Dashboard

[Service]
Type=simple
ExecStart=/home/pi/ttdash --auto-update --debug-port=4242 --purpleair-credentials-file purpleair-credentials.json

[Install]
WantedBy=multi-user.target
